<center><b><h1>Contact</b></h1></center>

<br><br>


<div class="container marketing">


          
        </div><!-- /.span4 -->
              <div class="row">

        <div class="span4">
          <center><img class="http://i.imgur.com/ytJlski.jpg" src="http://i.imgur.com/ytJlski.jpg/140x140" style ="height:249px"></center>
          <h2><center>Maria Yu</h2></center>
          <p> <center>WM: mariajyu@gmail.com</p> </center>
        </div><!-- /.span4 -->
                











      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Maria &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->